.venv/
.env
__pycache__/
*.pyc

# Vector database (regenerate with chunker.py and embed_and_store.py)
chroma_db/

#Intermediate files (used for testing)
cleaned_docx/
chunks/

#OS files
.DS_Store
Thumbs.db